.stripmall {
    display: flex;
    width: 400px;
    height: 200px;
    align-items: center;
}

.tower {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: flex-end;
}

.store {
    background-color: coral;
    height: 150px;
    width: 150px;
    border: dotted 1px black;
    text-align: center;
}

.floor {
    background-color: teal;
    height: 75px;
    width: 150px;
    border: solid 1px black;
    text-align: center;
}